@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;500&display=swap");

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

h1 {
  font-family: "Exo", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: 700;
  margin-top: 15px;
}

header {
  text-align: center;
  margin: 10px;
}

footer {
  text-align: center;
  color: rgb(104, 104, 104);
  margin: 10px;
  font-size: small;
}

.calc-container {
  width: 300px;
  margin-bottom: 20px;
}

button {
  width: 60px;
  height: 60px;
  font-family: "IBM Plex Mono", monospace;
  font-size: x-large;
  border-radius: 10px;
  border: 0px;
  margin: 4px;
  border-bottom: solid 2px rgb(0 0 0 / 40%);
}

.display {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  background-color: rgb(208, 244, 196);
  box-shadow: inset 1px 4px 5px -4px rgba(0, 0, 0, 0.75);
  font-family: "IBM Plex Mono", monospace;
  font-size: xx-large;
  padding: 10px;
  height: 45px;
  text-align: right;
  margin: 25px 18px 5px 18px;
  border-radius: 4px;
}

.equals {
  background-color: rgb(41, 41, 246);
  color: white;
  width: 128px;
}

.operators {
  background-color: rgb(180, 180, 180);
}

.operators2 {
  background-color: rgb(232, 155, 12);
}
